@{
    ViewData["Title"] = "Home Page";
}

@model List<ArabaViewModel>

<div class="mx-auto p-2" style="width: 400px;">
    <h1>Araçlarım</h1>
</div>



<div class="row">
    @foreach (var x in Model)
    {

        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="~/Araba/@x.ResimData" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@x.arabadi</h5>
                    <p class="card-text">@x.arabaacıklama</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>Yakıt Tipi :</b> @x.arabamotor</li>
                    <li class="list-group-item"><b>Yakıt Km :</b>@x.arabakm</li>
                    <li class="list-group-item"><b>Yakıt  :</b>@x.arabayakıt</li>
                </ul>
                <div class="card-body">
                    <a asp-action="ArabaBul" asp-controller="Home" asp-route-id="@x.id"  class="card-link btn btn-danger">Araba Detay</a>
                </div>
            </div>

        </div>



        
    }


</div>
